% import json

<div class="container my-4 text-center" style="max-width: 1024px;">
  <h2 class="display-6 pt-4">Extension Adoption Momentum</h2>
  <p class="lead">New Installs vs. Previous Period</p>
  <canvas id="analytics-chart" style="max-height: 600px;"></canvas>
  <script>
    fetch("https://embedded-development-in-vscode.github.io/overview/data/analytics.json").then((response) => {
      if (!response.ok) return;
      response.json().then((analytics) => {
        var labels = [];
        var datasets = extensions.map(extension => ({
          _pid: extension.pid,
          label: ' ' + extension.name, data: [],
          borderColor: "rgba(" + extension.color.join(",") + ", 1)",
          backgroundColor: "rgba(" + extension.color.join(",") + ", 0.5)",
          cubicInterpolationMode: "monotone",
          tension: 0.4
        }));
        for (var i = 1; i < analytics.length; i++) {
          labels.push(new Date(analytics[i].timestamp * 1000));
          datasets.forEach((dataset) => {
            var previous = analytics[i - 1].extensions.find(item => item.pid === dataset._pid);
            var current = analytics[i].extensions.find(item => item.pid === dataset._pid);
            dataset.data.push(previous && current ? current.icnt - previous.icnt : undefined);
          });
        }
        var config = {
          type: 'line',
          data: {
            labels: labels,
            datasets: datasets
          },
          options: {
            responsive: true,
            radius: 4,
            scales: {
              x: {
                ticks: {
                  callback: function(value) {
                    var date = this.getLabelForValue(value);
                    return monthNames[date.getUTCMonth()] + ' ' + date.getUTCDate();
                  }
                }
              }
            },
            plugins: {
              legend: {
                position: 'right',
                display: true,
                labels: {
                  padding: 25,
                  font: {
                    size: 16
                  }
                }
              }
            }
          },
        };
        new Chart(document.getElementById('analytics-chart'), config);
      });
    });
  </script>
</div>