% import json

<div class="container my-4">
  <canvas id="analytics-chart" style="max-height: 600px;"></canvas>
  <script>
    var extensions = {{ !json.dumps([{item.public_id: {"name": item.name} } for item in extensions]) }};
    var data = {};
    var config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom',
            display: true
          }
        }
      },
    };
    new Chart(document.getElementById('analytics-chart'), config);
  </script>
</div>