<footer class="text-body-secondary py-5">
  <div class="container">
    <div>
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <small class="mb-0">
        % from datetime import datetime
        <b>Last updated:</b> {{ datetime.now().strftime("%c") }} (based on the <a href="https://marketplace.visualstudio.com/" target="_blank">official VSCode Marketplace data</a>).
      </small>
    </div>
    <div class="mt-4 text-center text-body-tertiary" style="font-size: 12px;">All logos displayed on this website are registered trademarks and the property of their respective owners. The logos are used for representation purposes only, and their usage does not imply any endorsement, sponsorship, or affiliation with this website or its content. All copyrights and intellectual property rights for these logos belong solely to their respective owners.</div>
  </div>
</footer>

</body>

</html>